<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Page</title>
</head>
<body>
    <h1>Short URL Found!</h1>
    <p>The original URL is: <a href="<%=url %>" target="_blank"><%= url %></a></p>
    <p>The Short URL is: <a href="http://localhost:4500/api/shorturl/<%=shortId %>" target="_blank">
        http://localhost:4500/<%= shortId %></a></p>
    </a>
</p>
</body>
</html>
